<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamo</title>
    <!-- librerias -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Script -->
    <script src='../js/Prestamo.js'></script>
</head>
<body>
    <div class="container">
        <div id="inputData">
            <form>
                <fieldset>
                    <br>
                    <legend>Prestamo Details</legend>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label for="fecha_prestamo" class="col-sm-4 col-form-label">Fecha del Prestamo</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="id" id="id" value="">
                                    <input type="date" class="form-control" name="fecha_prestamo" id="fecha_prestamo" value="" placeholder="fecha_prestamo">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label for="fecha_devolucion" class="col-sm-4 col-form-label">Fecha Devolucion</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="fecha_devolucion" id="fecha_devolucion" value="" placeholder="fecha_devolucion">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label for="libro_id" class="col-sm-4 col-form-label">Libro Id</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="libro_id">
                                        <option selected>--Seleccione--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label for="usuario_id" class="col-sm-4 col-form-label">Usuario Id</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="usuario_id">
                                        <option selected>--Seleccione--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label for="state" class="col-sm-4 col-form-label">State</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="state">
                                        <option selected>--Seleccione--</option>
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
            </form>
        </div>
        
        <div id="buttonData">
            <br>
            <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
        </div>
        
        <div id="outputData">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                        <th>Usuario Id </th> 
                        <th>Libro Id </th>
                        <th>Fecha Prestamo </th>
                        <th>Fecha Devolución</th>
                        <th>State</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody id="resultData">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        loadData();
        loadLibro();
        loadUsuario();
    </script>
</body>
</html>
